.adminContainer {
  .adminPage {
    .content {
      .rowHead {
        padding: 24px 16px;
        opacity: 1;
        background: linear-gradient(
          195deg,
          rgb(73, 163, 241),
          rgb(26, 115, 232)
        );
        border-radius: 0.5rem;
        h2 {
          margin: 0;
          color: #fff;
        }
      }
      .row-table {
        overflow: auto !important;

        .tableAdmin {
          background-color: #f5ebeb;
          width: 100%;
          border-radius: 0.5rem;
          thead {
            tr th {
              padding: 24px;
            }
          }
        }
      }
    }
  }
}
